body {
    margin: 10px;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 22pt;
    font-family: sans-serif;
}
.forecastday {
    padding-top: 10px;
}
.temp {
    padding-right:0px;
    padding-bottom:18px;
    font-size: 37pt;
}
.col {
    float:left;
}
.rigthtCol{
    padding-left:30px;
    padding-top:10px;
}
.row {
    padding-bottom: 20px;
}