body {
    font-size: 15pt;
}
.temp {
    font-size: 20pt;
}
.rigthtCol{
    padding-top:10px;
}
.date, .time, .label {
    font-size:15pt;
}
.spreadtemp {
    font-size:10pt;
}
.suntimes {
    padding-top: 10px;
}
canvas {
    width:50px;
    height:50px;
}