body {
    margin: 10px;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 22pt;
    font-family: sans-serif;
}
.forecastday {
    width:15%;
    margin-left: 35px;
    float:left;
}
.temp {
    padding-bottom:10px;
    padding-top:20px;
    font-size: 50pt;
    float: left;
}
.temp2 {
    float:right;
}
.label {
    text-transform: uppercase;
}
.degrees {
    font-weight: bold;
}
.col {
    float:left;
    width: 100%;
}
.rigthtCol{
    padding-top:20px;
}
.row {
    padding-bottom: 20px;
    clear:both;
    width: 100%;
}
.sun {
    width:33px;
}
.moon {
    width:25px;
    padding-left:20px;
}
.date, .time, .label {
    font-size:35pt;
}
.date, .time {
    float: left;
}
.date {
    padding-left: 20px;
}
.lowt {
    color: #476b6b;
}
.spreadtemp {
    font-size:18pt;
}
.wind {
    font-size:12pt;
}