body {
    margin: 10px;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 22pt;
    font-family: sans-serif;
}
a {
    color: white;
}
.homeLink {
    font-size:29pt;
}
.YANPIWS a {
    color: darkgreen;
    text-decoration: none;
    font-size:20pt;
}
.YANPIWS {
    position: fixed;
    z-index: 10000;
    left: 42%;
}
.forecastday {
    width:20%;
    float:left;
    text-align: center;
}
.temp {
    padding-bottom:10px;
    font-size: 50pt;
    float: left;
}
.temp2 {
    float:right;
}
.label {
    text-transform: uppercase;
}
.degrees {
    font-weight: bold;
}
.col {
    float:left;
    width: 100%;
}
.rigthtCol{
    padding-top:20px;
}
.row {
    padding-bottom: 5px;
    clear:both;
    width: 100%;
}
.sun {
    width:33px;
}
.moon {
    width:25px;
    padding-left:20px;
}
.date, .time, .label {
    font-size:35pt;
}
.date, .time {
    float: left;
}
.date {
    padding-left: 20px;
}
.lowt {
    color: #476b6b;
}
.spreadtemp {
    font-size:18pt;
}
.wind {
    font-size:12pt;
}
.suntimes {
    padding-top: 20px;
}